.grid {
    margin: 0px;
    padding: 0px;
    width: 80px;
    height: 20px;
    text-align: center;
    
}

.grid-left {
    margin: 0px;
    padding: 0px;
    height: 20px;
    
}

.grid-text {
    margin: 0px;
    padding: 0px;
    width: 80px;
    text-align: center;
    border: 1px solid #000000;
}

.pole {
    height: 20px;
    width: 80px;
}

.progress-bar {
    margin:0px;
    background-color:red;
    height:100%;
}

.myStyle {
    background-color: rgb(238, 238, 238);
}