.app {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 150px);
    margin: 20px;
  }
  
  .element {
    height: 150px;
    width: 150px;
    text-align: center;
    border: 2px solid #000000;
  }
  
  .grid-container {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
    
    a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 15px;
  
      &:hover {
        transform: scale(1.02);
      }
    }
  
    .column {
      background: #e3f2fd;
      margin: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 18px;
      border-radius: 10px;
      background-image: radial-gradient(
        circle 346px at 0.3% 100%,
        #3e4ca7 0%,
        #6dd1ff 100.7%
      );
      text-align: center;
      box-shadow: 3px 2px 5px 0px #ababab;
      height: 100%;
      min-height: 150px;
    }
  }
  
  @media screen and (min-width: 500px) {
    .row {
      //display: grid;
      flex-direction: row;
      flex-wrap: nowrap;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 10px;
    }
    .column {
      flex: 1;
      margin: 6px;
    }
  }
  
  .title {
    text-align: center;
    font-weight: bold;
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 20px;
    color: #666;
  }

  .example-viewport {
    height: 500px;
    width: 600px;
    border: 1px solid black;
  }

  .example-viewport2 {
    height: 220px;
    width: 800px;
    border: 1px solid black;
    line-height: 15px;
  }
  
  .example-item {
    height: 50px;
  }
  