<div class="grid-container">
  <div class="row">
    <!-- <a
      routerLink="projekt1"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmu identyfikowania wąskich gardeł procesów w zrealizowanym systemie na potrzeby SOR Gestora"
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">Identyfikowanie wąskich gardeł procesów</article>
    </a> -->
    <a
      routerLink="waskie-gardla-identyfikacja"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmu identyfikowania wąskich gardeł procesów w zrealizowanym systemie na potrzeby SOR Gestora"
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column"> Identyfikowanie wąskich gardeł procesów</article>
    </a>
    <a
      routerLink="projekt2"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmu dynamicznej adaptacji procesów decyzyjnych"
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">
        Dynamiczna adaptacja procesów decyzyjnych
      </article>
    </a>
    <a
      routerLink="projekt3"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmu postępowania na podstawie analizy danych cyfrowych wcześniej leczonych pacjentów w zestawieniu z najnowszymi doniesieniami naukowymi"
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">
        Analiza danych cyfrowych wcześniej leczonych pacjentów
      </article>
    </a>
    <a
      routerLink="efektywne-wykorzystanie-zasobow"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmów decyzyjnych agregujących posiadane zasoby systemowe, sprzętowe i ludzkie w taki sposób aby najefektywniej wykorzystać ich potencjał"
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">
        Efektywne wykorzystanie zasobów systemowych, sprzętowych i ludzkich
      </article>
    </a>
    <a
      routerLink="ergonomia-pracy"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmów poprawy ergonomii pracy "
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">Ergonomia pracy</article>
    </a>
  </div>
  <div class="row">
    <a
      routerLink="weryfikacja-stanu"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmu postępowania w celu weryfikacji, czy pacjent nadaje się do dalszego procesowania lub jego obecność nie wymaga nagłej pomocy medycznej "
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">Weryfikacja stanu pacjenta</article>
    </a>
    <a
      routerLink="ergonomia"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii poprawy ergonomii pracy, komunikacji oraz automatyzacja procesów dokumentacji medycznej"
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">
        Ergonomia pracy, komunikacji i dokumentacji medycznej
      </article>
    </a>
    <a
      routerLink="wspomaganie-decyzji"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmu z zakresu sztucznej inteligencji mające na celu wspomaganie podejmowania decyzji zarządczych z uwzględnieniem danych gromadzonych w całym systemie "
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">
        Wspomaganie podejmowania decyzji zarządczych
      </article>
    </a>
    <a
      routerLink="sygnalizowanie-anomalii"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmu wczesnego sygnalizowania anomalii względem realizacji zaplanowanego planu "
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">
        Sygnalizowanie anomalii względem realizacji planu
      </article>
    </a>
    <a
      routerLink="usprawnienie-planowania-zabiegow"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmu usprawnienia procesu planowania zabiegów z uwzględnieniem bieżących i zaplanowanych potrzeb oraz wykorzystaniem sztucznej inteligencji "
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">Usprawnienie planowania zabiegów</article>
    </a>
  </div>
  <div class="row">
    <a
      routerLink="panel-pacjenta"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii algorytmu z wykorzystaniem sztucznej inteligencji wyboru odpowiedzi/porady dla pacjenta na podstawie zbioru danych pacjenta, aktualnego stanu kolejki SOR, priorytetu pacjenta, aktualnego stanu psychofizycznego pacjenta "
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">Panel dla pacjenta</article>
    </a>
    <a
      routerLink="rejestr-danych-o-pacjencie"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii samoucząca się baza danych zbierająca wszystkie możliwe dane o pacjencie, co w przyszłości pozwoli na integrację i budowę krajowego banku danych stanów nagłych w medycynie (BSN) "
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">Rejestr danych o pacjencie</article>
    </a>
    <a
      routerLink="proces-diagnozowania"
      routerLinkActive="active"
      class="top-articles-link"
      title="Demonstrator technologii usprawnienia procesu diagnozowania "
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">Proces diagnozowania</article>
    </a>
    <a
      routerLink="algorytm-detekcji"
      routerLinkActive="active"
      class="top-articles-link"
      title="Algorytm detekcji"
      style="display: block; width: 100%; height: 100%"
    >
      <article class="column">Monitoring SOR</article>
    </a>
  </div>
</div>
