<div class="grid-container">
    <div class="row">
        <a routerLink="tabela1" routerLinkActive="active" class="top-articles-link"
            style="display: block;width: 100%; height:100%;">
            <article class="column">Obliczenia statyczne wąskich gardeł</article>
        </a>
        <a routerLink="tabela2" routerLinkActive="active" class="top-articles-link"
            style="display: block;width: 100%; height:100%;">
            <article class="column">Wpływ niedoboru wydajności na opóźnienia na SOR-ze</article>
        </a>
        <a routerLink="tabela3" routerLinkActive="active" class="top-articles-link"
            style="display: block;width: 100%; height:100%;">
            <article class="column">Uwzględnienie wpływu zmienności na czas pobytu (LOS) pacjentów</article>
        </a>
        <a routerLink="tabela4" routerLinkActive="active" class="top-articles-link"
            style="display: block;width: 100%; height:100%;">
            <article class="column">Oszacowanie długości cyklu obsługi</article>
        </a>
    </div>
</div>