<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1>Moduł zarządzania SORem </h1>

  <div style="display: flex; gap: 10px; margin-right: 0px; margin-left: auto;">
    <a style="margin-top: 8px;" (click)="navigate()"> <img src="../assets/logo.png"></a>
    <p style="font-size: 10px; margin-top: 10px; width: 200px; text-wrap: wrap; line-height: 10px;">Projekt
      współfinansowany przez Narodowe Centrum Badań i Rozwoju w ramach projektu nr DOB-BIO10 / 19/02/2020</p>
  </div>
</mat-toolbar>

<!-- temp. -->
<mat-sidenav-container autosize style="background-color: rgb(201, 136, 199);"> 
<!-- <mat-sidenav-container autosize> -->
  <mat-sidenav fixedInViewport="true" [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list style="padding-top: 24px;">
      <a (click)="navigate()" mat-list-item>
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </span>
      </a>
      <a (click)="openAlertDialog()" mat-list-item>
        <span class="entry">
          <mat-icon>info</mat-icon>
          <span *ngIf="!isCollapsed">O projekcie</span>
        </span>
      </a>

      <div *ngIf="isLogged">
        <a (click)="logout()" mat-list-item>
          <span class="entry">
            <mat-icon>person</mat-icon>
            <span *ngIf="!isCollapsed">Wyloguj</span>
          </span>
        </a>
      </div>

      <div style="position:absolute; bottom:0">
        <a style="margin-top: auto" mat-list-item>
          <span class="entry">
            <mat-icon>settings</mat-icon>
            <span *ngIf="!isCollapsed">Ustawienia</span>
          </span>
        </a>
        <a style="margin-top: auto" mat-list-item>
          <span class="entry">
            <mat-icon>help</mat-icon>
            <span *ngIf="!isCollapsed">Pomoc</span>
          </span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>